<div class="form-container">
    <div class="card form-item">
        <div class="card-title">
            Login To TODO APP
        </div>
        <div class="card-content">
            <form [formGroup]="signinForm">
                <div class="input-field col s12">
                    <label for="Title">Email</label>
                    <input type="email" formControlName="loginName" class="text-darken-4" />

                </div>
                <div class="input-field col s12">
                    <label for="Title">Password</label>
                    <input type="password" formControlName="loginPassword" class="text-darken-4" />
                </div>
            </form>
        </div>

        <div class="action-container">
            <div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
                <button type="submit" class="btn btn-primary" (click)="onSignUpSubmit()">SignUp</button>

            </div>

            <div style="margin-top:10px">
                <span>
                    <button class="btn btn-social btn-facebook" (click)="signInWithFacebook()">
                        <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
                    </button>
                </span>
                <span>
                    <a class="btn btn-social btn-google" (click)="signInWithGoogle()">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                </span>
            </div>

            <div class="error-msg">
                {{serverError}}
            </div>

        </div>

    </div>
</div>